name: stella

networks:
  stella-shared:
    external: true
    name: stella-shared

services:
  app:
    image: thestellaproject/stella-app:latest
    volumes:
      - ./data:/data
    expose:
      - "8005"
    ports:
      - "8080:8005"
    networks:
      stella-shared:
        aliases:
          - stella-app
    environment:
      # Config
      FLASK_APP: app/app
      FLASK_CONFIG: postgres
      INTERLEAVE: "True"
      BULK_INDEX: "False"
      DELETE_SENT_SESSION: "True"
      INTERVAL_DB_CHECK: 3
      SESSION_EXPIRATION: 6
      SESSION_KILL: 120

      # Systems
      SYSTEMS_CONFIG: |
        {
            "mlentory_base": {"type": "ranker", "base": true, "docid": "db_identifier", "hits_path": "$.models"},
            "mlentory_experiment": {"type": "ranker", "docid": "db_identifier", "hits_path": "$.models"}
        }

      # Stella Server
      STELLA_SERVER_ADDRESS: http://server:8000
      STELLA_SERVER_USER: site@stella-project.org
      STELLA_SERVER_PASS: pass
      STELLA_SERVER_USERNAME: site

      # Database
      POSTGRES_USER: postgres
      POSTGRES_PW: change-me
      POSTGRES_DB: postgres
      POSTGRES_URL: db-app:5430

    command: gunicorn -w 2 --timeout 60 -b :8005 'app.app:create_app()'
    depends_on:
      - db-app
      - mlentory_base
      - mlentory_experiment

  db-app:
    image: postgres:16
    expose:
      - "5430"
    ports:
      - "5430:5430"
    networks:
      - mlentory_network
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=change-me
      - POSTGRES_DB=postgres
    command: -p 5430

  mlentory_base:
    build: ../mlentory_base
    container_name: mlentory_base
    volumes:
      - ./data/:/data/
    networks:
      - mlentory_network
    ports:
      - "5000:5000"

  mlentory_experiment:
    build: ../mlentory_experiment
    container_name: mlentory_experiment
    volumes:
      - ./data/:/data/
    networks:
      - mlentory_network
    ports:
      - "5001:5000"
