<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
</head>

<body>
  <div class="container">
    <h1>List of running containers</h1>
    <table id="table" data-search="true">
      <thead>
        <tr>
          <th data-field="name" data-sortable="true">System</th>
          <th data-field="index" data-sortable="true">Index available</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script>
            var $table = $('#table');
            var mydata = {{data|tojson}};

            $(function() {
              $('#table').bootstrapTable({
                data: mydata,
                columns: [ {},{},
                {
                  field: 'operate',
                  title: 'Edit',
                  align: 'center',
                  valign: 'middle',
                  clickToSelect: false,
                  formatter : function(value,row,index) {
                    return '<button class=\'btn btn-primary \' pageName="'+row.name+'" pageDetails="'+row.index+'"  >Start indexing</button> ';
                  }
                }
              ]
              });

              $(".btn").click(function(){
                  var pageDetails = $(this).attr('pageDetails');
                  var pageName = $(this).attr('pageName');
                  $(".modal .modal-title").html(pageName);
                  $(".modal .modal-body").html(pageDetails);
                  $(".modal").modal("show");
              });
            });
    </script>
</body>
</html>